<div class="wrapper" id="signUp">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-12 mr-auto ml-auto">   
                      <div class="card card-register">
                          <div class="float-left leftSection">
                              <div class="logo">
                                  <img src="./assets/img/sfl-logo-white.png">
                              </div>
                              <div class="login text-center">
                                  <h2>Login using social media to
                                        get quick access</h2>
                                    <ul>
                                        <li><a href="#"><img src="./assets/img/twiiter.png"></a></li>
                                        <li><a href="#"><img src="./assets/img/linked.png"></a></li>
                                    </ul>
                              </div>
                          </div>
                          <div class="float-right rightSection">
                              <h3 class="title">Login to your account</h3>
                                <form class="register-form" #loginForm=ngForm (ngSubmit)="onSubmit()">
                                    <div class="alert alert-danger" [hidden]="!error">{{error}}</div>
                                    <div class="input-group form-group-no-border">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-email-85"></i>
                                        </span>
                                      </div>
      
                                        <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="form.email" required>                                        
                                    </div>
                                    <div class="alert alert-danger" [hidden]="!data['email']">{{data['email']}}</div>
                                    <div class="input-group form-group-no-border" >
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-key-25"></i>
                                        </span>
                                      </div>
                                        <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="form.password" required>
                                    </div>
                                    <div class="alert alert-danger" [hidden]="!data['password']">{{data['password']}}</div>
                                      <div class="forgot">
                                        <div class="remember">
                                            <input type="checkbox" name="remember_me" value="" [(ngModel)]="form.remember_me">
                                            <label>Remember Me</label>
                                        </div>
                                        <a href="#" class="btn btn-link btn-danger" [routerLink]="['/password/request-password']">Forgot password?</a>
                                    </div>
                                    <button class="btn btn-danger btn-block btn-round" [disabled]="!loginForm.valid">Login with Email</button>
                                    <div class="loading" *ngIf="loading"><img src="./assets/img/Spinner-1s-200px.gif"></div>
                                </form>
                                
                          </div>
                    </div>
                  </div>
              </div>
          </div>
  </div>
</div>
