<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-8 mr-auto ml-auto">
                      <div class="card card-register">
                          <div class="float-left leftSection">
                              <div class="logo">
                                  <img src="./assets/img/sfl-logo-white.png">
                              </div>
                          </div>
                          <div class="float-right rightSection">
                              <h3 class="title">Forget Password</h3>
                                
                                <form class="register-form" #requestResetForm=ngForm (ngSubmit)="onSubmit()">
                                        <div class="alert alert-{{status}}" [hidden]="!message">{{message}}</div>
                                    <div class="input-group form-group-no-border">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-email-85"></i>
                                        </span>
                                      </div>
      
                                        <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="form.email" required>                                        
                                    </div>
                                    <div class="alert alert-danger" [hidden]="!data['email']">{{data['email']}}</div>
                                    <button class="btn btn-danger btn-block btn-round" [disabled]="!requestResetForm.valid">Send Password Reset Email</button>
                                    <div class="loading" *ngIf="loading"><img src="./assets/img/Spinner-1s-200px.gif"></div>
                                </form>
                                
                          </div>
                    </div>
                  </div>
              </div>
          </div>
  </div>
</div>
